/* You can add global styles to this file, and also import other style files */
.red {
  background-color: indianred;
}

.blue {
  background-color: lightblue;
}

.text-underline {
  text-decoration: underline;
}
